.marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -100%);

  label {
    width: 120px;

    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    width: 24px;
  }
}
