.place-detail-component {
  padding: 8px 4px;

  .information {
    .title {
      padding-left: 4px;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
