@use "../colors.scss";

.save-place-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .content {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;

    > .header {
      color: white;
      background-color: colors.$primary-color;

      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto min-content;

      gap: 4px 8px;

      padding: 16px;

      //   > .title {
      //   }
      //   > .address {
      //   }

      > .icon-container {
        width: 56px;
        height: 56px;
        margin: auto 0px;
        grid-column: 2 /3;
        grid-row: 1/3;
        cursor: pointer;
        // border: 2px solid white;
        // border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > .icon {
          padding: 4px;
          width: 26px;
          height: 26px;
        }
        > label {
          font-size: 16px;
        }
      }
    }

    > .form {
      padding: 16px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto 100px;
      gap: 8px 8px;

      > .place-name {
        font-size: 20px;
        font-weight: 600;
        padding: 8px;
      }

      > select {
        color: colors.$primary-color;
      }

      > .description {
        grid-column: 1 /3;
        font-size: 18px;
        text-align: start;
        resize: none;
      }
    }

    .cancel-icon {
      width: 16px;
      height: 16px;
      margin: 4px;
      align-self: flex-end;
      padding-right: 16px;
      padding-bottom: 8px;
      cursor: pointer;
    }
  }
}
