@use "./colors.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: colors.$primary-text-color;
}

h1 {
  font-size: 80px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;

  font-size: 16px;
}

label {
  font-weight: 400;
  font-size: 14px;
}

input {
  outline: none;
  border: none;
  border-radius: 8px;

  padding: 12px;
  padding-left: 16px;

  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
}

textarea {
  border: none;
  outline: none;
  padding: 8px;
}

textarea::placeholder {
  font-size: 14px;
}

select {
  border: none;
  outline: none;

  font-size: 16px;
  color: colors.$secondary-text-color;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.1);

  padding: 8px;
  min-width: 120px;

  border: 1px solid colors.$divider-color;
  border-radius: 16px;
}

button {
  border: none;
  outline: none;
  background: none;

  font-family: inherit;
  font-size: 20px !important;
  font-weight: 700;

  color: colors.$secondary-color;

  padding: 4px;
  margin: 4px;
  border-radius: 8px;

  cursor: pointer;
}

.icon {
  padding: 8px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}
