@use "./colors.scss";

@import "./classes.scss";
@import "./pages";
@import "./components";
@import "./modals/";
.app {
  width: 100%;
  height: 100%;
  .page {
    width: 100%;
    height: 100%;
  }
  // display: flex;
  // flex-direction: row;

  // .controll-container {
  //   flex: 1;
  // }

  // .map-container {
  //   flex: 3;
  // }
}

// button {
//   border: none;
//   outline: none;
//   background: none;

//   padding: 8px;
//   margin: 8px;
//   border-radius: 8px;

//   cursor: pointer;

//   font-size: 16px;
//   font-weight: 600;
//   font: inherit;
// }

// button {
//   border: none;
//   outline: none;
//   background: none;

//   padding: 8px;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   cursor: pointer;

//   img {
//     width: 32px;
//     height: 32px;

//     background-color: colors.$accent-color;

//     padding: 6px;

//     border-radius: 50%;
//   }

//   label {
//     padding-top: 4px;
//     color: colors.$accent-color;
//     font-weight: 600;
//     font-size: 14px;
//   }
// }

.input-form {
  display: flex;
  flex-direction: row;

  input {
    width: 100%;
  }
  button {
    width: min-content;
    min-width: 60px;
    padding: 12px;

    border-radius: 4px;

    background-color: colors.$primary-color-light;
    margin-left: 6px;
  }
}
