@use '../colors.scss';

#page-introduce {
  background-color: colors.$primary-color-light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .content {
    color: colors.$primary-text-color;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-bottom: 64px;

    > .links {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      > h3 {
        padding-top: 4px;
        color: colors.$secondary-text-color;
        cursor: pointer;
      }

      > h3:hover {
        text-decoration: underline;
      }
    }
  }
}
