@use '../colors.scss';

.login-require {
  background-color: colors.$primary-color-light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    color: colors.$primary-text-color;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-bottom: 64px;

    .login-buttons {
      margin-top: 32px;

      display: grid;
      grid-template-columns: auto auto;
      gap: 8px 4px;
      text-align: right;

      h3 {
        padding-top: 8px;
        color: colors.$secondary-text-color;
      }

      button {
        color: colors.$secondary-color;
      }
    }
  }
}
