@use '../colors.scss';

.login-page {
  background-color: colors.$primary-color-light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 48px;

    form {
      margin-top: 40px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 16px 8px;

      padding-bottom: 8px;

      .icon {
        background-color: colors.$secondary-color;
      }

      input {
        width: 350px;
      }
    }
    button {
      align-self: flex-end;
    }

    .signup-form {
      margin-top: 32px;
      align-self: flex-end;
    }
  }
}
