.main-page {
  display: flex;
  flex-direction: row;

  > .main-container {
    width: 700px;
    display: flex;
    flex-direction: column;

    position: relative;

    > .title-container {
      position: absolute;
      width: 100%;

      > .title {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        h2 {
          width: 100%;
          padding-left: 12px;
          // text-align: center;
        }

        img {
          background-color: white;
          border-radius: 50%;
          border: 1.5px solid colors.$divider-color;
          padding: 10px;

          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    > .place-detail {
      flex: 1;
    }
  }

  > .map-container {
    // flex: 7;
    width: 100%;
    height: 100%;
  }
}
