.main-page {
  display: flex;
  flex-direction: row;

  .main-container {
    width: 700px;
    padding: 8px;

    .title-container {
      .title {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        h2 {
          width: 100%;
          text-align: center;
        }
      }
      .title.unactive {
        color: colors.$secondary-text-color;
        h2 {
          font-size: 18px;
        }
      }
    }
  }

  .map-container {
    // flex: 7;
    width: 100%;
    height: 100%;
  }
}
