@use '../../colors.scss';
.place-review {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto auto auto;
  padding: 8px;
  padding-left: 16px;

  > .rate {
    margin-left: 8px;
    border: 1.5px solid colors.$divider-color;
    border-radius: 18px;
    padding-left: 8px;
    width: 72px;
    height: 36px;
    color: colors.$primary-color;
    padding-right: 8px;
    display: flex;
    flex-direction: row;

    > p {
      padding: 4px;
    }
  }

  > .create-time {
    align-self: flex-end;
    padding-bottom: 4px;
    padding-left: 4px;
    height: fit-content;
    font-size: 14px;
    vertical-align: text-bottom;
    color: colors.$divider-color;
  }

  > .description {
    padding-top: 8px;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  > .description.disabled {
    color: colors.$secondary-text-color;
  }

  .edit-button {
    grid-column: 2/3;

    font-weight: 400;
    font-size: 14px !important;
    color: colors.$secondary-text-color;

    margin: 0px;
    margin-right: 16px;
    width: fit-content;
    justify-self: flex-end;
  }
}
