@use "../../colors.scss";

.place-detail {
  > .photo-component {
    height: 300px;
    overflow: hidden;
  }

  > .summary {
    padding: 16px;
    background-color: colors.$primary-color;
    color: colors.$primary-color-text;

    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: 30px 30px;

    > .description {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    > .address {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    > .save-button {
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > .icon {
        border: 2px solid colors.$primary-color-text;
        border-radius: 50%;
      }

      > label {
        padding-top: 2px;
      }
    }
  }
}
