@use '../../colors.scss';

.place-information {
  display: flex;
  flex-direction: row;
  align-items: center;

  //   margin: 8px 16px;
  padding: 12px 20px;

  > img {
    width: 16px;
    height: 16px;
    padding: 8px;
  }

  > h3 {
    margin-left: 12px;

    font-weight: 500;
    font-size: 16px;
  }

  > label {
    margin-left: 4px;

    color: colors.$secondary-text-color;
    font-size: 16px;
  }
}

.place-information:hover {
  background-color: colors.$divider-color;
}
