@use "../../colors.scss";

.place-search-bar {
  margin: 8px;

  border-radius: 16px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  > .input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    padding: 4px 12px;

    > .icon {
      padding-top: 8px;
      width: 20px;
      height: 20px;
    }

    > .cancel-icon {
      width: 12px;
      height: 12px;
      padding: 4px;
      cursor: pointer;
    }

    > input {
      padding-left: 4px;
    }
  }

  > .input-form.focus {
    border-bottom: 0.5px solid colors.$divider-color;
  }

  .autocomplete-list {
    border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 8px;

    margin-top: 6px;

    // padding: 8px 0px;

    .autocomplete-item {
      padding: 8px;
      padding-left: 24px;

      .title {
        color: colors.$primary-text-color;
        padding-left: 2px;
        font-size: 16px;
        font-weight: 500;
      }

      .subtitle {
        font-size: 14px;
        color: colors.$secondary-text-color;
      }

      cursor: pointer;
    }

    .autocomplete-item:hover {
      background-color: lightgray;
    }
  }
}
