@use '../../colors.scss';

.saved-place {
  border-bottom: 1px solid rgba(colors.$divider-color, 0.5);

  padding: 8px;

  > .date {
    font-size: 12px;
    padding-left: 4px;
    color: colors.$divider-color;
  }

  cursor: pointer;

  .content {
    display: grid;
    gap: 12px 0px;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;

    > .rate {
      color: colors.$primary-color;
      padding-right: 8px;
    }

    > .description {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    > .disabled {
      color: colors.$divider-color;
    }
  }
}

.saved-place:hover {
  background-color: colors.$hover-color;
}
